.item-text {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    color: white;
    /* float: left; */
    margin-top: 10px;
    padding-left: 5px;
    height: 30px;
    width: 80%;
}
#trash {
    color: white;
}
#trash:hover {
    color: aqua;
}
#trash {
    color: white;
}